.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


p {
    flex: 1 1 1;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: larger;
}

.phonetic {
  margin-left: 25px;
}

.score {
  margin-left: auto;
}

#target {
    font-size: xx-large;
    text-align: center;
}

.paragraph_container {
  max-width: 100%;
  box-sizing: border-box;
}

.clickable_paragraph {
  line-height: 1.5;
  word-wrap: normal;
  word-break: normal;
  overflow-wrap: normal;
}

