.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

hr {
  background-color: rgb(227, 227, 227); 
  margin-left: 25px;
  margin-right: 25px;
}

p {
    flex: 1 1 1;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.phonetic {
  margin-left: 25px;
}

.score {
  margin-left: auto;
}

