* {
    background-color: rgb(31, 32, 32);
    color: rgb(227, 227, 227);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
}

menu .nav-item {
  padding: 0 0.3em;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 56px;
  padding: 25px;
}

footer {
  bottom: 0;
}

.footer_content {
    padding: 25px;
}