* {
    background-color: rgb(31, 32, 32);
    color: rgb(227, 227, 227);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  height: 100%;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
  font-size: .95em; 
}


header {
  flex: 0 50px;
}

main {
  flex: 1 calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

footer {
  flex: 1;
  margin: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 85px;
  padding-left: 25px; 
}


#home_title {
    padding-bottom: 100px;
}

.textbox {
    padding: 8px;
}

@media (min-width:400px) {
    .vert_bar {
        display: none;
    }
}