td {
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
    font-size: x-large;
}

tbody {
  font-size: large;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-color: rgb(227, 227, 227);
}